name: Docker Image CI

on:
  push:
    branches: [ master ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Docker login
      run: echo $DOCKERHUB_PASSWORD | docker login -u saivarunr  --password-stdin https://index.docker.io/v1/
    - name: Build the Docker image
      run: docker build  --tag saivarunr/docker-dind-awscli:latest
    - name: Push the Docker image
      run: docker push saivarunr/docker-dind-awscli:latest
